<div xmlns:th="http://www.thymeleaf.org">
    <div th:if="${faculty.enrollments.empty}">
        <p style="text-align: center" th:text="#{enrollments.empty.message}"></p>
    </div>

    <div th:if="${!enrollments.empty}">

        <h3 class="page-header"
            style="text-align: center; margin-top: 30px; margin-bottom: 30px"
            th:text="#{enrollments.header}">
        </h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{enrollment.id}"></th>
                <th scope="col" th:text="#{enrollment.user}"></th>
                <th scope="col" th:text="#{enrollment.user.status}"></th>
                <th scope="col" th:text="#{enrollment.marksSum}"></th>
                <th scope="col" th:text="#{enrollment.status}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="enrollment : ${enrollments}">
                <th scope="row" th:text="${enrollment.id}"></th>
                <td><p th:text="${enrollment.user.fullName}"></p></td>
                <td th:text="#{${'user.status.' + enrollment.user.status}}"></td>
                <td th:text="${enrollment.marksSum}"></td>
                <td th:text="${enrollment.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>