<div xmlns:th="http://www.thymeleaf.org">
    <b style="font-size: 18px; margin-right: 5px;" th:text="#{pageSize.label}"></b>
    <a th:class="'btn ' + ${faculties.size == 1 ? 'btn-light' : 'btn-default'}" style="margin-bottom: 5px;"
       href="?size=1">
        1
    </a>
    <a th:class="'btn ' + ${faculties.size == 2 ? 'btn-light' : 'btn-default'}" style="margin-bottom: 5px;"
       href="?size=2">
        2
    </a>
    <a th:class="'btn ' + ${faculties.size == 4 ? 'btn-light' : 'btn-default'}" style="margin-bottom: 5px;"
       href="?size=4">
        4
    </a>
</div>