<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head_tag.html">
</head>
<body>

<header th:insert="fragments/bodyHeader.html">
</header>

<div style="margin-top: 15px; margin-bottom: 15px; margin-left: 40px; margin-right: 40px;"
     class="alert alert-success">
    <span th:if="${status == status.ENROLLED_CONTRACT}" th:text="#{congratulation.contract}"></span>
    <span th:if="${status == status.ENROLLED_STATE_FUNDED}" th:text="#{congratulation.stateFunded}"></span>
</div>
</body>
</html>