<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head_tag.html">
</head>
<body>

<header th:insert="fragments/bodyHeader.html">
</header>

<div style="margin-left: 30px; margin-right: 30px;" th:with="page=${faculties}">
    <div class="row" style="justify-content: space-between; margin: 0;">
        <div></div>
        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-secondary"
               style="margin-top: 15px; margin-bottom: 5px;"
               th:href="@{'/faculty/new'}"
               th:text="#{faculty.new}"></a>
        </div>
    </div>

    <h3 class="page-header" style="text-align: center; margin-top: 10px; margin-bottom: 20px"
        th:text="#{faculties.header}"></h3>

    <div class="row" style="justify-content: space-between; margin: 0;">
        <div th:include="fragments/faculties_sorting_options.html"></div>
        <div th:include="fragments/faculties_page_size_options.html"></div>
    </div>

    <div th:if="${faculties.totalElements eq 0}">
        <p style="text-align: center" th:text="#{faculties.empty.message}"></p>
    </div>

    <div th:each="faculty : ${faculties.content}">
        <div th:insert="fragments/faculty_card.html"></div>
    </div>
</div>

<div th:insert="fragments/faculties_pagination.html"></div>
</body>
</html>