<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head_tag.html">
</head>

<body>
<header th:insert="fragments/bodyHeader.html">
</header>
<div style="margin-left: 30px; margin-right: 30px;">
    <div class="card" style="margin-bottom: 10px; margin-top: 10px">
        <a class="card-header" th:text="${user.fullName}"></a>
        <div class="card-body">
            <div class="list-view" style="width: 30rem">
                <p class="card-text" style="margin-right: 10px"
                   th:text="#{user.status} + ': ' + #{${'user.status.' + user.status}}"></p>
                <p class="card-text" style="margin-right: 10px"
                   th:text="#{user.email} + ${': ' + user.email}"></p>
                <p class="card-text" style="margin-right: 10px"
                   th:text="#{user.city} + ${': ' + user.city}"></p>
                <p class="card-text" style="margin-right: 10px"
                   th:text="#{user.region} + ${': ' + user.region}"></p>
                <p class="card-text" style="margin-right: 10px"
                   th:text="#{user.education} + ${': ' + user.education}"></p>
                <div>
                    <div class="row" sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-danger" style="margin-right: 5px; margin-left: 20px;"
                           th:if="${user.status == user.status.ACTIVE}"
                           th:href="@{'/entrant/' + ${user.id} + '/block'}"
                           th:text="#{user.block}"></a>
                        <a class="btn btn-warning" style="margin-right: 5px; margin-left: 20px;"
                           th:if="${user.status == user.status.BLOCKED}"
                           th:href="@{'/entrant/' + ${user.id} + '/unblock'}"
                           th:text="#{user.unblock}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:with="enrollments=${user.enrollments}" th:include="fragments/user_enrollments.html"></div>

</div>
</body>
</html>